<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmc.dao.SsmBookMapper">
  <resultMap id="BaseResultMap" type="com.zmc.entity.SsmBook">
    <id column="bookid" jdbcType="INTEGER" property="bookid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="cnt" jdbcType="INTEGER" property="cnt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ssm_book
    where bookid = #{bookid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zmc.entity.SsmBook">
    insert into ssm_book (bookid, name, cnt
      )
    values (#{bookid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{cnt,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zmc.entity.SsmBook">
    update ssm_book
    set name = #{name,jdbcType=VARCHAR},
      cnt = #{cnt,jdbcType=INTEGER}
    where bookid = #{bookid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select bookid, name, cnt
    from ssm_book
    where bookid = #{bookid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select bookid, name, cnt
    from ssm_book
  </select>
</mapper>